<div class="container-fluid hero">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Welcome To Members Only!</h1><br>
      <h4>
        This is a project I am doing for The Odin Project's Ruby on Rails course to
        practice working with the Devise gem for authentication and authorizaiton.
      </h4><br>
      <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
